.podcast-container {
  background-color: $color-quaternary;

  .mejs-container {
    margin: 5em auto 0;
    position: relative;
  }

  @media (max-width: $tablet-medium) {
    img {
      width: 70%;
      margin: 0 15% 2em;
    }

    .mejs-container {
      margin: 2em auto 0;
      position: relative;
    }
  }
}
