// Brand Colors
$color-primary: #01437c;
$color-secondary: #474b53;
$color-tertiary: #373a40;
$color-quaternary: #fafafa;
$color-senary: #f2f2f2;
$color-septenary: #b2b4b5;
$color-gray: #d9d9d9;
$color-black: #000;
$color-white: #fff;

// Fonts
$font-primary: 'proxima-nova', helvetica, arial, lucida, sans-serif;
$font-secondary: 'Magistral', helvetica, arial, lucida, sans-serif;
$font-tertiary: 'Magistral Light', helvetica, arial, lucida, sans-serif;
$font-awesome: 'FontAwesome' !important;
$et-modules: 'ETmodules' !important;

// Font Sizes
$h1: 2.8123em; // 45px
$h2: 2.5em; // 40px
$h3: 1.875em; // 30px
$h4: 1.25em; // 20px
$h5: 1em; // 16px
$h6: 0.75em; // 12px
$body-large: 1.5625em; // 25px
$body-largeish: 1.125em; // 18px
$body-standard: 1em; // 16px
$body-medium: 0.938em; // 15px
$body-small: 0.875em; // 14px
$body-x-small: 0.75em; // 12px
$body-xx-small: 0.625em; // 10px

// TODO: Figure out Divi Breakpoints
$container-large-width: 1728px;
$container-fluid-width: 1320px;
$container-fluid-break: 1400px;
$container-small-width: 1080px;

// Mobile First
$screen-xlarge: 1728px;
$screen-large-top-menu: 1550px;
$max-row-width: 1455px;
$screen-large: 1440px;
$screen-medium-large: 1300px;
$screen-medium: 1200px;
$screen-small: 1024px;
$tablet-large: 980px;
$tablet-medium: 768px;
$mobile-large: 667px;
$mobile-medium: 576px;
$mobile-small: 375px;
$mobile-pardot: 586px;

// Desktop First
$screen-x-xlarge: 1679.98px;
$screen-x-large: 1439.98px;
$screen-x-medium: 1199.98px;
$screen-x-small: 1023.98px;
$tablet-x-large: 979.98px;
$tablet-x-medium: 767.98px;
$mobile-x-large: 666.98px;
$mobile-x-medium: 575.98px;
$mobile-x-small: 374.98px;
